@import "../global.scss";
@import "../variables.scss";

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: var(--font-contrail);
  background-color: var(--color-navbar-bg);
  align-items: center;

  .navItem {
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    color: var(--color-navbar-label);
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;

    margin-right: 30px;
    transition: opacity 0.3s ease, transform 1s ease;
    transform: translateY(10px);

    .navItemImg {
      width: var(--dim-px-navItem-WH);
      height: var(--dim-px-navItem-WH);
    }

    span {
      display: block;
      font-size: 0.9rem;
      text-align: center;
      opacity: 0.5;
      letter-spacing: 2.75cap;
      transform: translateY(-15px);
      transition: transform 0.9s ease, opacity 1s ease;
    }
    img {
      animation: nav-img-default-animation 2500ms infinite alternate ease-in-out;
      transition: filter 1s ease, transform 1s ease;
    }

    &:last-child {
      margin-right: 0; // remove margin from last item
    }

    &:hover {
      transform: scale(1.2);
      transition: transform 1s ease, opacity 1s ease;

      span {
        transform: translateY(-15) scale(0.9);
        opacity: 1;
      }
    }

    &.neighborHovered {
      opacity: 0.05;
    }
  }
}

@keyframes nav-img-default-animation {
  0% {
    transform: scale(1);
    filter: brightness(0.9);
  }
  100% {
    transform: scale(1.05) translateY(-4px);
    filter: brightness(0.8);
  }
}

@keyframes nav-img-hover-animation {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 8px var(--color-space-blue-shadow));
  }
  100% {
    transform: scale(1.05) translateY(-4px);
    filter: drop-shadow(0 -2px 10px var(--color-space-purple-shadow));
  }
}
