@import "../global.scss";
@import "../variables.scss";

.resumeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: var(--dim-px-navbar-total-H);
  height: 100%;
  width: 80vw;
  padding-top: 20px; // space for buttons
  z-index: 500;
  margin: 0 auto;

  img {
    position: relative;
    max-height: 80vh;
    object-fit: contain;
    z-index: 999;
  }
}

.button-container {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: var(--color-button-bg);
  color: var(--color-dark-text);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--color-light-accent);
  }
}
