@import "../global.scss";
@import "../variables.scss";

.resumeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 80vw;
  padding-bottom: 1rem;
  z-index: 500;
  margin: 0 auto;

  img {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.01);
    }
  }

  .resumeImgWrapper {
    position: relative;
    display: inline-block;
    line-height: 0;
  }

  .resumeImg {
    display: block;
    max-height: 75vh;
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 1em;
  }
}

.buttonContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    padding: 15px;

    img {
      width: var(--dim-icon-WH);
      height: var(--dim-icon-WH);
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
