@import "./variables.scss";

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--color-navbar-bg);

  .navItem {
    display: block;
    padding: 10px;
    color: var(--color-light-text);
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-right: 30px; // space items out
    transform: scale(1); // Minimal transformation

    &:last-child {
      margin-right: 0; // remove margin from last item
    }
    :hover {
      transform: scale(1.1);
    }
    &.active {
      transform: scale(1.1);
      filter: brightness(1.5);
    }
  }
}
