:root {
  //* dimensions
  --dim-px-navbar-padding: 20px;
  --dim-px-navItem-WH: calc((10vh + 10vw) / 2);
  --dim-px-navItem-margin-RL: 25px;
  --dim-px-navbar-total-H: calc(
    (var(--dim-px-navbar-padding)) + (var(--dim-px-navItem-WH))
  );

  //* colors
  //- utility
  --color-light-text: rgba(245, 235, 250, 1);
  --color-dark-text: rgba(15, 25, 45, 1);
  --color-light-shadow: rgba(240, 223, 253, 0.4);
  --color-dark-shadow: rgba(45, 25, 55, 0.4);
  --color-button-bg: rgba(222, 220, 247, 0.938);

  //- components

  // Navbar
  --color-navbar-bg: rgba(60, 60, 60, 0.4);
  --color-navbar-label: rgba(206, 202, 255, 0.938);
  --color-space-blue-shadow: rgba(210, 210, 252, 0.4);
  --color-space-purple-shadow: rgba(217, 197, 255, 0.4);

  //- palettes
  // general (dark & light modes)
  --color-dark-main: rgba(0, 0, 0, 1);
  --color-dark-accent: rgba(22, 22, 24, 1);
  --color-mid-accent: rgba(33, 33, 36, 1);
  --color-light-accent: rgba(129, 129, 129, 1);
  --color-light-main: rgba(255, 255, 255, 1);

  // UI (dark & light modes)
  --color-ui-warning: rgba(255, 60, 54, 1);
  --color-ui-alert: rgba(255, 197, 0, 1);
  --color-ui-success: rgba(0, 196, 30, 1);
  --color-ui-accent-shadow: rgba(51, 52, 54, 1);
  --color-ui-accent-highlight: rgba(53, 55, 56, 1);

  // navbar images
  --color-navbar-about: rgb(234, 213, 224, 1);
  --color-navbar-projects: rgb(238, 218, 179, 1);
  --color-navbar-home: rgb(238, 223, 161, 1);
  --color-navbar-resume: rgb(244, 240, 149, 1);
  --color-navbar-contact: rgb(247, 251, 180, 1);

  // swarm dots (dark)
  --color-dark-dot-1: rgba(119, 119, 119, 1);
  --color-dark-dot-2: rgba(102, 102, 102, 1);
  --color-dark-dot-3: rgba(85, 85, 85, 1);
  --color-dark-dot-4: rgba(68, 68, 68, 1);
  --color-dark-dot-5: rgba(51, 51, 51, 1);

  // swarm dots (light)
  --color-light-dot-1: rgba(136, 136, 136, 1);
  --color-light-dot-2: rgba(153, 153, 153, 1);
  --color-light-dot-3: rgba(170, 170, 170, 1);
  --color-light-dot-4: rgba(187, 187, 187, 1);
  --color-light-dot-5: rgba(204, 204, 204, 1);

  // bg star shadow
  --color-star-orange: rgba(255, 210, 125, 1);
  --color-star-red: rgba(255, 163, 113, 1);
  --color-star-blue: rgba(166, 168, 255, 1);
  --color-star-yellow: rgba(255, 250, 134, 1);
  --color-star-purple: rgba(168, 123, 255, 1);

  // cool black space
  --color-cool-black-1: rgba(7, 9, 2, 1);
  --color-cool-black-2: rgba(8, 11, 15, 1);
  --color-cool-black-3: rgba(18, 11, 20, 1);
  --color-cool-black-4: rgba(9, 17, 28, 1);
  --color-cool-black-5: rgba(23, 29, 33, 1);

  // near black space
  --color-near-black-1: rgba(14, 17, 17, 1);
  --color-near-black-2: rgba(35, 43, 43, 1);
  --color-near-black-3: rgba(53, 56, 57, 1);
  --color-near-black-4: rgba(59, 68, 75, 1);
  --color-near-black-5: rgba(65, 74, 76, 1);

  //- fonts
  // display
  --font-aldrich: "Aldrich", sans-serif;
  --font-averia: "Averia Serif Libre", serif;
  --font-balsamiq: "Balsamiq Sans", cursive;
  --font-bungee: "Bungee Shade", cursive;
  --font-contrail: "Contrail One", cursive;
}
