:root {
  // general (dark & light modes)
  --color-dark-main: rgba(0, 0, 0, 1);
  --color-dark-accent: rgba(22, 22, 24, 1);
  --color-mid-accent: rgba(33, 33, 36, 1);
  --color-light-accent: rgba(129, 129, 129, 1);
  --color-light-main: rgba(255, 255, 255, 1);

  // UI (dark & light modes)
  --color-ui-warning: rgba(255, 60, 54, 1);
  --color-ui-alert: rgba(255, 197, 0, 1);
  --color-ui-success: rgba(0, 196, 30, 1);
  --color-ui-accent-shadow: rgba(51, 52, 54, 1);
  --color-ui-accent-highlight: rgba(53, 55, 56, 1);

  // swarm dots (dark)
  --color-dark-dot-1: rgba(119, 119, 119, 1);
  --color-dark-dot-2: rgba(102, 102, 102, 1);
  --color-dark-dot-3: rgba(85, 85, 85, 1);
  --color-dark-dot-4: rgba(68, 68, 68, 1);
  --color-dark-dot-5: rgba(51, 51, 51, 1);

  // swarm dots (light)
  --color-light-dot-1: rgba(136, 136, 136, 1);
  --color-light-dot-2: rgba(153, 153, 153, 1);
  --color-light-dot-3: rgba(170, 170, 170, 1);
  --color-light-dot-4: rgba(187, 187, 187, 1);
  --color-light-dot-5: rgba(204, 204, 204, 1);

  // bg star shadow
  --color-star-orange: rgba(255, 210, 125, 1);
  --color-star-red: rgba(255, 163, 113, 1);
  --color-star-blue: rgba(166, 168, 255, 1);
  --color-star-yellow: rgba(255, 250, 134, 1);
  --color-star-purple: rgba(168, 123, 255, 1);

  // cool black space
  --color-cool-black-1: rgba(7, 9, 2, 1);
  --color-cool-black-2: rgba(8, 11, 15, 1);
  --color-cool-black-3: rgba(18, 11, 20, 1);
  --color-cool-black-4: rgba(9, 17, 28, 1);
  --color-cool-black-5: rgba(23, 29, 33, 1);

  // near black space
  --color-near-black-1: rgba(14, 17, 17, 1);
  --color-near-black-2: rgba(35, 43, 43, 1);
  --color-near-black-3: rgba(53, 56, 57, 1);
  --color-near-black-4: rgba(59, 68, 75, 1);
  --color-near-black-5: rgba(65, 74, 76, 1);
}
